* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: rgba(0,0,0,0.6);
	background-image: url("https://images.unsplash.com/photo-1603190287605-e6ade32fa852?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size:cover;
	background-repeat: no-repeat;
	height: 100vh;
	background-position: 25% 75%;
	background-blend-mode: multiply;
    font-family: 'Luckiest Guy', cursive;
}

/* Navigation bar */

nav {
    background-color: rgba(59, 17, 65, 0.731); 
    border: 1px solid black;
}

.nav-list {
    display: flex;
    padding: 5px 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.logo {
    margin-left: auto;
    padding-right: 10px;
}

.logo a {
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}

.nav-item a {
    text-decoration: none;
    text-align: center;
    color: rgba(248, 241, 241, 0.979);
    padding: 20px;
}

.nav-item > a:hover {
    background-color: rgba(79, 77, 77, 0.473);
}

/* Content */

/* W3 Schools */

.header {
    /* position: absolute; */
    background-color: rgba(45, 14, 49, 0.8);
    /* background-color: rgba(59, 17, 65, 0.731); */
    color: whitesmoke;
    padding: 2px 8px;
    font-size: 24px;
    margin-bottom: 12px;
    align-self: center;
    /* top: 18%;
    left: 50%;
    transform: translate(-50%, -50%); Placera bildspelet i mitten */
}

/* Bildspel container */
.bildspel-container {
    max-width: 500px; /* Välj maxstorlek på bild*/
    position: relative;
    /* margin: auto;  */
    /* top: 40%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); Placera bildspelet i mitten  */
    align-self: center;
    
}

/* Gömmer bilderna  */
.images {
    display: none;
}

/* Nästa och förra ikonerna */
#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    /* width: auto; */
    margin-top: -32px;
    padding: 16px;
    color: whitesmoke;
    font-weight: 700;
    font-size: 18px;
    transition: 0.6s ease; /*När vi gör hover och byter färg; gör det långsamt*/
    border-radius: 0 3px 3px 0;
    border: 1px solid red; 
    user-select: none; /*Use cannot copy text/icon image*/
}

/* Fytta next button till höger */
#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*On hover, ge en bakgrund*/
#next:hover,
#prev:hover {
    background-color: rgba(100, 40, 0, 0.8);
}

/* Fading animering */
.fade {
    animation-name: fade; /*Måste vara samma namn som keyframe (i detta fall fade*/
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: 0.4} /*Testa att ändra, gör att bilden fadar in. opacity 0 = helt transparant, 1 = helt synlig*/
    to {opacity: 1}
} 






