* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* Perhaps change this code to class body instead */
body {
    background-color: rgba(0,0,0,0.6);
	/* background-image: url("https://images.unsplash.com/photo-1579697096985-41fe1430e5df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80"); */
	background-image: url("https://images.unsplash.com/photo-1603190287605-e6ade32fa852?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size:cover;
	background-repeat: no-repeat;
	height: 100vh;
	background-position: 25% 75%;
	background-blend-mode: multiply;
}

/* Header */

header {
    display: flex;
    padding: 5px 0px;
    /* background-color: rgba(79, 77, 77, 1); */
    justify-content: center;
    align-items: center;
}

#home-link {
    margin-right: auto;
}

#logo {
    width: 50px;
    margin-right: auto;
    align-self: flex-end;
}

.nav-list {
    display: flex;
    padding: 10px;
    margin: 0px;
    list-style: none;
}


/* 
    Change so it is not like buttons, but more like a navbar.
    Perhaps blen backroundpicture and navbar together
 */
.nav-item > a {
    text-decoration: none;
    color: rgba(248, 241, 241, 0.979);
    padding: 2px 6px;
    margin: 20px;
    background-color: rgb(176, 107, 17);
    border-radius: 8px;
    border: 1.3px solid white;
}

.nav-item > a:hover {
    background-color: rgba(79, 77, 77, 0.9);
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 50px;
    align-items: flex-start;
}

.company {
	color: white;
	/* padding: 80px 0 0 50px; */
	font-size: 60px;
}

.company-slogan{
    color: white;
	/* padding: 80px 0 0 50px; */
	font-size: 35px;
}


.se-mer-länk {
    margin-top: 20px;
    flex-basis: 1 1 100px;
    /* background-color: rgb(252, 93, 93); */
    background-color: rgb(176, 107, 17);
    padding: 5px 12px; 
    text-decoration: none;
    color: rgba(248, 241, 241, 0.979);
    border: 1.5px dotted rgb(255, 255, 255);
}

.se-mer-länk:hover {
    background-color: rgb(189, 116, 21);
    border: 1.5px dotted rgb(207, 200, 200);
}


